* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.background {
  background-image: url('../img/back.jpeg');
  background-size: cover; /* Adjusts the background image to cover the entire container */
  background-position: center; /* Centers the background image */
  width: 100%; /* Ensures the background covers the entire viewport width */
  height: 100vh; /* Sets the height to cover the entire viewport height */
}

.logo {
  width: 110px;
  height: auto;
  transition: transform 0.3s ease-in-out;
  margin-left: 25px;
  margin-top: 20px;
}

.logo:hover {
  transform: scale(1.1);
}

.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.title h1 {
  font-size: 60px;
}

.title h2 {
  font-size: 30px;
  color: #555;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}


.card_lion {
  flex: 1;
  width: 200px;
  height: 260px;
  display: inline-block;
  border-radius: 10px;
  background-image: url(../img/lion.gif);
  background-size: contain; /* Adjusted to make the image fit within the container */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card_cheetah {
  flex: 1;
  width: 200px;
  height: 260px;
  display: inline-block;
  border-radius: 10px;
  background-image: url(../img/cheetah.gif);
  background-size: contain; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card_elephant {
  flex: 1;
  width: 200px;
  height: 260px;
  display: inline-block;
  border-radius: 10px;
  background-image: url(../img/elephant.gif);
  background-size: contain; 
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);/* Light Blue */
}

.card_giraffe {
  flex: 1;
  width: 200px;
  height: 260px;
  display: inline-block;
  border-radius: 10px;
  background-image: url(../img/giraffe.gif);
  background-size: contain; /* Adjusted to make the image fit within the container */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);/
}

.card_lion:hover,
.card_cheetah:hover,
.card_elephant:hover,
.card_giraffe:hover {
  transform: scale(1.07); /* Increasing the size of the card on hover */
}



.card_lion,
.card_cheetah,
.card_elephant,
.card_giraffe {
  position: relative;
}


.card_lion h3,
.card_cheetah h3,
.card_elephant h3,
.card_giraffe h3 {
  position: absolute;
  color: white;
  background-color: #d3a012;
  padding: 7px 10px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  border-radius: 20px; 
}