* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .background {
    background-image: url('../img/back.jpeg');
    background-size: cover; /* Adjusts the background image to cover the entire container */
    background-position: center; /* Centers the background image */
    width: 100%; /* Ensures the background covers the entire viewport width */
    height: 100vh; /* Sets the height to cover the entire viewport height */
  }


  .title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;

  }
  
  .title h1 {
    font-size: 40px;
    color: #000000;
  }



  .image-container {
    text-align: center; /* Center the image horizontally */
    margin-bottom: 20px; /* Add spacing between image and description */
  }
  
  .lion-image {
    max-width: 35%; 
    display: block; 
    margin: auto; 
    border-radius: 15px; 
  }
  
  